<footer class="mt-auto">
    <div class="message-wrapper text-center mt-5">
        <span>Email: alin@flowmanger.ro</span> <br>
        <span>Telephone: +40753552482</span> <br>
        <span>All rights recived Flowmanger®</span> 
    </div>
  
</footer>